* {
    box-sizing: border-box;
    transition: all 0.5s ease;
}

body {
    background: #bcaf8d url("../images/sw-fighter-bg.jpg") center/cover;
    color: white;
    display: flex;
        flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    line-height: 1.6em;
    min-height: 100vh;
    overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    line-height: 1em;
    width: 100%;
}
    
    h1 { font-size: 2.5em; }
    h2 { color: #222; font-size: 2em; }
    h3 { font-size: 1em; font-weight: 400; margin-bottom: 1rem; }

h1, p { margin: 1em auto;}

header h1, 
article, 
footer p {
    margin: 0 auto;
    width: 90%;
    max-width: 960px;
}
header, article, footer {
    padding: 2em;
}

header, footer {
    background: #222;
    color: white;
    border-color: #40dfff;
    border-image: linear-gradient(to right, #33ccff 25%, #ff3355 75%);
    border-image-slice: 1;
    border-style: solid;
}

header {
    border-bottom-width: 0.25em;
}

article {
    margin: 1em auto;
    padding: 0;
}

footer {
    border-top-width: 0.25em;
    margin-top: auto;
    text-align: center;
}

.panel {
    background: rgba(255, 255, 255, 0.4);
    margin: 2em auto;
    padding: 1em;
}
.panel-content {
    display: flex;
        align-content: flex-start;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-between;
}

.character {
    background: rgba(0,0,0,0.6);
    flex-grow: 1;
    margin: 0 0.5em;
    margin-top: 1em;
    padding: 1em;
    text-align: center;
    width: 23%;
        min-width: 200px;
}
    .character h3 { margin-top: 0; }
    .character p { margin: 0; }
    .character img { width: 100%; }

.hide { display: none; }

@media (max-width: 1000px) {
    .character {
        width: 45%;
    }
}